
@{
    ViewBag.Title = "Index1";
}


<h2>
   Clock is based on 24-hour format. It takes time as 12-hour format and automatically converts to 24-hour format.
   
</h2>
<br /> &nbsp&nbsp&nbsp&nbsp&nbsp<a href="/Home/index" style="text-decoration: none "><b>Home</b></a>